@media (max-width: 1130px) {
    .header {
        padding: 0 20px;
    }

    .promo__container {
        padding-right: 20px;
    }

    .promo__title {
        font-size: 2.6rem;
    }

    .promo__subtitle {
        font-size: 1.24rem;
    }

    .advantage__inner {
        padding: 0 20px;
    }

    .consult {
        padding-top: 56px;

        &__inner {
            padding: 20px;
            width: 890px;
        }
    }

    .slider__wrapper {
        width: 80%;
        margin: 0 auto;
    }

    .feedback__wrapper {
        width: 80%;
        margin: 0 auto;
    }

    .footer__info {
        width: 350px;
        padding: 20px 10px;
        height: 205px;
    }

}

@media (max-width: 991px) {
    .advantage {
        &__inner {
            flex-direction: column;
            align-items: center;

        }

        &__item {
            width: 400px;
            margin-bottom: 30px;
        }

    }

    .consult {
        min-height: 0;
        padding-top: 20px;

        &__inner {
            width: 100%;
            text-align: center;
        }

        .feed-form {
            margin-top: 0;
            margin: 35px auto;
        }
    }


    .title {
        &_left {
            font-size: 2rem;
            text-align: center;
        }
    }

    .feedback {
        &__photo {
            width: 15%;
        }

        &__content {
            width: 80%;
        }

        &__text {
            text-align: justify;
        }
    }


}

@media (max-width: 767px) {
    .header {
        padding: 0 10px;

        &__logo {
            width: 28%;
        }

        &__title {
            span {
                font-size: 1.1rem;
            }
        }

        &__phone {
            font-size: 1rem;
            display: block;
            margin: 0 auto;
        }
    }

    .promo {
        .promo__container {
            padding-right: 0;
            padding: 20px;
        }

        &__phrase {
            margin: 10px auto 25px;
            text-align: center;

        }

        &__adv {
            margin: 60px auto 60px;
        }


        &__contact {
            margin: 0 auto 25px;
            text-align: center;

            span {
                display: block;
                margin: 20px auto;

                a {
                    display: block;
                }
            }
        }
    }

    .slider {
        &__button {
            display: none;
        }
    }

    .catalog {
        &__tab {
            width: 160px;
            height: 40px;
            line-height: 36px;

            &-name {
                font-size: 1rem;
            }
        }
    }

    .feedback {
        &__wrapper {
            width: 100%;
            padding: 20px;
        }

        &__item {
            flex-direction: column;
            align-items: center;
        }

        &__photo {
            width: 100%;
            margin-bottom: 25px;

            img {
                display: block;
                margin: 0 auto;
            }

        }

        &__author {
            text-align: center;
        }

        &__count {
            text-align: center;
        }
    }

    .footer {
        iframe {
            display: none;
        }

        &__info {
            width: 100%;
            height: auto;
        }
    }
}

@media (max-width: 576px) {
    .promo {
        height: 100vh;

        &__title {
            margin-top: 25px;
            font-size: 1.5rem;
        }

        &__subtitle {
            font-size: 1.1rem;
        }

        &__adv {
            flex-direction: column;
            max-width: 100%;
            margin: 0 auto 10px;
        }

        &__item {
            flex-direction: row;
            max-width: 100%;
            justify-content: center;
            align-items: flex-start;
            text-align: left;

            &:nth-child(2) {
                margin-left: -12px;
            }

            img {
                margin-right: 20px;
            }

        }

        &__contact {
            max-width: 100%;
            margin: 0 auto;
        }

    }

    .header {
        flex-direction: column;

        &__title {
            display: none;
        }

        &__logo {
            width: 80%;
            margin-bottom: 15px;
        }
    }

    .btn_main {
        width: 100%;

    }

    .title {
        font-size: 1.5rem;
        margin-bottom: 22px;

        &_left {
            font-size: 1.1rem;
        }
    }

    .advantage {
        padding: 20px 0;

        &__inner {
            padding: 0 10px;
        }

        &__item {
            max-width: 100%;
        }

        &__icon {
            margin-bottom: 0;
        }

        &__name {
            margin-bottom: 10px;
            font-size: 1.1rem;
        }

        &__text {
            font-size: .9rem;
        }
    }

    .consult {
        &__form-title {
            font-size: 1rem;
        }

        .feed-form {
            max-width: 100%;
        }
    }

    .catalog {
        &__tabs {
            flex-direction: column;
            align-items: center;
        }

        &__tab {
            width: 80%;
            margin-bottom: 15px;
        }
    }

    .feedback {
        &__photo {
            width: 46%;
            margin-bottom: 9px;
        }

        &__content {
            width: 100%;
        }
    }
}