.slider {
    padding-top: 100px;
    padding-bottom: 45px;

    &__item {
        img {
            display: block;
            margin: auto auto;
        }
    }

    &__wrapper {
        position: relative;
    }

    &__button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        background-color: transparent;

        &_prev {
            left: -70px;
        }

        &_next {
            right: -70px;
        }

        img {
            width: 30px;
            height: 50px;
        }

    }
}